.full-width {
  width: 100vw;
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.center-div {
  position: absolute;
  top: 10vh;
  left: 21vw;
  width: 75vw;
  height: 80vh;
  background-color: rebeccapurple;
}

.profile-card {
  position: absolute;
  left: 2.5vw;
  top: 10vh;
  width: auto;
  height: auto;
  background-color: white;
  margin-right: 10px;
}
